body header h1
{font-weight:bold;
    text-decoration:underline;
    font-size:26px;
    color:;
    text-align:center;
}

body {
    background-color:lightgray;
}
    
body header p{
font-style:italic;
text-align:center;
}
header{
   background-color:black;
   color:white;
}
footer {
    font-size: 15px;
    font-style: italic;
}
article aside h2{
    text-align:center;
}
article h2 {
    text-align: center;
}