@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&display=swap');

body header h1
{font-weight:bold;
    text-decoration:underline;
    font-size:26px;
    color:;
    text-align:center;
    font-family: fantasy;
    
}

body {
    background-color:lightgray;
}
    
body header p{
font-style:italic;
text-align:center;
}
header{
   background-color:black;
   color:white;
}
footer {
    font-size: 15px;
    font-style: italic;
}
article aside h2{
    text-align:center;
}
article h2 {
    text-align: center;
    font-family: fantasy;
}

nav a {
    color: white;
}

nav ul {
    background-color: black;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align:center;
}

    nav ul li {
        display: inline-block;
        padding: 5px;
        font-size:25px;
        color: white;
    }

.selected {
    color: white;
    background-color: white;
}

    .selected a {
        color: black;
    }

nav li:hover {
    background-color: white;
}

nav a:hover {
    color: black;
}

body {
    font-family: 'Acme', sans-serif;
}

.background{
    text-align:center;
    align-content:center;
}